/* 
////// For this challenge ///////

- All text is in the text.md file

// Requirements
1. Refer to the design specs for the
   overall layout 
2. The image should line up with
   the sidebar in the section
   below

*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 1.3rem;
}

img {
	max-width: 100%;
	border-radius: 4px;
}

h1 {
	font-size: 3rem;
	margin-top: 0;
}

.container {
	width: 80%;
	max-width: 1100px;
	margin: 0 auto;
}

.row {
	/* display: flex => flex container */
	display: flex;
	justify-content: space-between;

	/* can't use yet */
	/* gap: 100px; */
}

.col {
	/* these are now flex items */
	width: 100%;
}

.fd-col {
	flex-direction: column;
	justify-content: space-between;
}

.col + .col {
	margin-left: 30px;
}

.hero {
	padding: 100px 0;
	background-color: #23424a;
	color: #fff;
}

.hero__text {
	width: 56%;
}

.hero__img {
	width: 36%;
	align-self: flex-start;
	display: flex;
	justify-content: flex-end;
}

.hero p {
	margin-bottom: 3em;
}

.content {
	padding: 100px 0;
}

.left-content {
	width: 56%;
}

.left-content h2 {
	font-size: 2.2rem;
	color: #136c72;
}

.right-content {
	width: 36%;
	background-color: #136c72;
	color: #fff;
	text-align: center;
	padding: 1.4em 1.5em;
	border-radius: 4px;
}

.nav {
	background-color: #136c72;
	margin: 0;
	padding: 28px 0;
}

ul.row {
	list-style-type: none;
	padding: 0;
	justify-content: flex-start;
	/* justify-content: space-between; */
}

.list + .list {
	margin-left: 3rem;
}

.link {
	color: #fff;
	text-decoration: none;
}

.cta {
	background-color: #fff;
	color: #136c72;
	padding: 0.8rem 2rem;
	border-radius: 3rem;
}

.cta:hover {
	opacity: 0.5;
}

.btn {
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	color: #23424a;
	font-weight: 900;
	background-color: #38cfd9;
	padding: 0.75em 2em;
	border-radius: 100px;
}

.btn:hover,
.btn:focus {
	opacity: 0.75;
}
